/* Highlights grid */
.highlight-grid {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.highlight-item {
    flex: 1 1 30%;
    padding: 20px;
    background-color: #F0F4FF;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    text-align: center;
}

.highlight-item:hover {
    background-color: #D8E4FF;
}
